/* body 
 {
  background-image: url(168.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}*/

/*test*/

.h1banner {
  background-image: url(vecteezy_travels-of-sedan-of-red-color-car-with-driving-for-banner_49105270.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%; /* Forces full width and height */
  width: 100vw;
  height: 50px;
}

h1 {
  text-align: center;
}

ol {
  font-family: sans-serif;
}

p {
  font-family: sans-serif;
}

fieldset {
  width: 80%;
}

legend {
  font-style: italic;
  font-size: 20px;
}

label {
  font-family: sans-serif;
}

label:hover {
  color: blue;
}

input[type="checkbox"] + label {
  cursor: pointer;
}

input {
  cursor: pointer;
}

input[type="checkbox"]:checked + label {
  color: blue;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: blue;
}

/* might not be necessary */
a:active {
  color: red;
}
